@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
	margin: 0;
	padding:0;
}

 /*navigation bar*/
#nav-bar{
  
  background: rgba(0,0,0,0.2);
  position: sticky;
  top:0;
  z-index: 10;
  /*
width:100%; height:15vh;

	  background: rgba(0,0,0,0.2);
	   display: flex; justify-content: space-between;
	  align-items: center; text-transform: uppercase;
	  position: sticky;
	  top:0;*/
}


.navbar-brand
{
	height:40px;
	padding-left:30px;
}
.navbar-nav li
{
	padding:5 10px;
}

.navbar-nav li a{
	float:right;
  text-align:left;
  
  
	
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar-toggler
{
	background:rgba(0,0,0,0.2);
}

.navbar-toggler
{
	border:none;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
} 


.fix
{
	clear:both;
	overflow:hidden;
}

header{
	overflow:hidden;
	height: 100vh;
}

.vid.bg{
	position:absolute;
	right:0;
	bottom:0;
	min-height:100%;
	min-width:100%;
	
}
.banner-text{
	position: absolute;
	top: 25%;
	text-align:center;
	left:25%
}
.banner-text h3
{
	color: black;
	font-size:80px;
	margin: 0;
}
.banner-text h3 span{
	color: black;
}

.banner-text p{
	color: #fff;
	font-size:18 px;
	font-weight:bold;
	color:Black;
}

.button{
	display: inline-block;
	margin-top:5%;
	background:black;
	border: 0;
	font-size:20px;
	text-transform:uppercase;
	border:3px solid #fff;
	padding: 5px 25px;
	color:white;
	border-radius: 25px;
}




/* our team wala css*/
        

        .wrapper{
            margin-top: 0.5%;
            margin-bottom: 0.5%;
            margin-left: 0.5%;
            margin-right: 0.5%;
			background-color: #C0C0C0;
          }
          
          .wrapper h1{
            font-family: 'Allura', cursive;
            font-size: 52px;
            margin-bottom: 60px;
            text-align: center;
          }
          
          .team{
            display: flex;
            justify-content: center;
            width: auto;
            text-align: center;
            flex-wrap: wrap;
            background: #C0C0C0;
          }
          
          .team .team_member{
            background: rgb(252, 252, 252);
            margin: 5px;
            margin-bottom: 50px;
            width: 300px;
            padding: 20px;
            line-height: 20px;
            color: #8e8b8b;  
            position: relative;
          }
          
          .team .team_member h3{
            color: #81c644;
            font-size: 26px;
            margin-top: 50px;
          }
          
          .team .team_member p.role{
            color: #ccc;
            margin: 12px 0;
            font-size: 12px;
            text-transform: uppercase;
          }
          
          .team .team_member .team_img{
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: rgba(247, 194, 95, 0.651);
          }
          
          .team .team_member .team_img img{
            width: 100px;
            height: 100px;
            padding: 5px;
          }
          
         body{
            background: #C0C0C0;
            font-family: 'Josefin Sans', sans-serif;
          }
		  
		  
		  
		  
	/*ou services wala code*/	  
.services-section{
  margin-top: 0.5%;
   margin-bottom: 0.5%;
  background: url(bg1.jpg);
  background-size: cover;
  background-color:#4D5656;
  padding: 60px 0;
  
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  
}
.inner-width-h1{
  font-family: 'Allura', cursive;
}
.section-title{
  text-align: center;
  color: #FFFFF0 ;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 10%;
}
.border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: 0;
}

.service-box{
  max-width: 50%;
  padding: 100px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #FCF3CF;
  color: #FCF3CF;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background:#3498DB ;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: White;
  font-size: 14px;
  background: Black;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: Black;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: White;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: White;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: White;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: White;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: White;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: white;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #ffe2d9;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff5821;
  color: White;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: White;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: White;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff5821;
  color: White;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ff7e54;
  color: White;
  text-decoration: none;
}











